body {
	margin-left: 200px;
}

.row {
	float: left;
	clear: both;
}

.imageDiv {
	border: solid 1px rgba(0,0,0,0.5);
	float: left;
	width: 64px;
	height: 64px;
}

.scrambleButton {
	float: left;
	margin-bottom: 10px;
}
